.mb-width-100{
    width: 100%;
}

.alert-success{
    padding: 10px;
    text-align: center;
}
.titre-admin{
    text-align: center;
    padding: 20px;
    background-color: #1b1b1b;
    margin: 20px 0;
}

.mb-set-opt{
    margin-bottom: 50px;
    width: 100%;
}
.btn-submit-admin{
    margin-top: 45px;
    margin-bottom: 10px;
    width: 100%;
}

h1, h2, h3{
    text-align: center;
}
.titre{
    font-size: 50px;
}
.sous-titre{
    font-size: 25px;
    color: #fff;
}
.petit-titre{
    font-size: 20px;
    margin-bottom: 22px;
}
#mb_image_01{
    margin-top: 45px;
}
#mb_bio_artiste{
    height: 120px;
}
#mb_accroche_artiste{
    margin-bottom: 16px;
}