.mb-width-100{
  width: 100%;
}

.mb-text-center{
  text-align: center;
}

.margin-auto{
  margin: auto;
}

.wp-block-image img{
  height: auto;
}

.dropdown-menu{
  border-radius: 0;
  background-color: #272626;
}

.dropdown-menu a:hover {
  background-color: #1b1b1b;
}
.dropdown-toggle::after{
  transform: rotate(45deg);
}