// Theme Informations
//--------------------------------------------//
$theme_name: "marinabay";
$theme_description: "thème modèle pour intégrer les fonctionnalités de wordpress";
$theme_version: "1.0";
$theme_author: "Marina Front";
$theme_author_uri: "www.marinafront.fr";
$text_domain: "marinabay";
