@import "../Base/variableGobale";


@media screen and (min-width: 2100px) {


  /**************** Artiste **********************/

  .mb-container-info-artiste {

  }
  .mb-container-info-artiste p {
    font-size: 20px;
  }

}
//
//@media screen and (min-width: 2100px) {
//  /**************** Artiste **********************/
//
//  .mb-container-info-artiste {
//    top: 1010px;
//  }
//}
//
//@media screen and (max-width: 1720px) {
//
//  /**************** header **********************/
//
//  .mb-container-nav{
//    right: 317px;
//  }
//
//  /**************** Artiste **********************/
//
//  .mb-container-info-artiste {
//    top: 927px;
//  }
//
//}
//
//@media screen and (min-width: 1630px) {
//  /**************** Artiste **********************/
//
//  .mb-container-info-artiste {
//    top: 885px;
//  }
//}
//
//@media screen and (min-width: 1510px) {
//  /**************** Artiste **********************/
//
//  .mb-container-info-artiste {
//    top: 885px;
//  }
//}
//
@media screen and (max-width: 1440px) {

  /**************** header **********************/

  .mb-container-nav{
    right: 244px;
  }

  /**************** Artiste **********************/

  .mb-container-info-artiste {
    max-height: 100%;
    background-color: rgba(27, 27, 27, 0.78) ;
  }
  .mb-container-info-artiste:before {
    display: none;
  }

}


@media screen and (max-width: 1100px) {
  /**************** artiste **********************/
  .mb-container-info-artiste {
    right: 100px;
  }
}

@media screen and (max-width: 992px) {
  /**************** header **********************/
  .mb-container-nav{
    right: 133px;

  }
  .mb-item-nav:before {
    display: none;
  }
  .mb-item-nav{
    padding: 15px ;
  }
}

@media screen and (max-width: 975px) {
  /**************** artiste **********************/
  .mb-container-info-artiste p{
    font-size: 12px ;
  }

}


//@media screen and (max-width: 1000px) {
//
//  /**************** header **********************/
//
//  .mb-container-nav{
//    right: 118px;
//  }
//
//  .header img{
//    width: 80%;
//    margin-left: 152px;
//  }
//
//
//  /**************** Artiste **********************/
//
//  .mb-container-info-artiste {
//    top: 927px;
//  }
//
//}

@media screen and (max-width: 767px) {
  /**************** header **********************/
  .mb-container-nav{

  }
}

@media screen and (max-width: 660px) {
  /**************** artiste **********************/
  .mb-container-info-artiste {
    right: 50px;
  }
}

@media screen and (max-width: 585px) {
  /**************** artiste **********************/
  .mb-container-info-artiste {
    right: 0;
  }
}


@media screen and (max-width: 425px) {
  /**************** header **********************/
  .mb-container-nav{
    right: 30px;
  }
  .mb-container-info-artiste{
    position: relative;
    background-color: rgb(27, 27, 27);
    margin-top: 2px;
  }

}

@media screen and (max-width: 392px) {
  /**************** galerie **********************/
  .panel img{
    width: 90%;
  }
  .panel-footer{
    margin-top: 270px;
  }
}