@import "../Base/variableGobale";

/**************  titres  ****************/
/****************************************/

h2{
  padding: 10px 0;
}

hr{
  color: $orange-clair;
}
.container{
  margin-bottom: 50px;
}