@import "../Base/variableGobale";

/**************  titres  ****************/
/****************************************/

h2{
  padding: 10px 0;
}


.titre-admin{
  text-align: center;
  padding: 30px;
  background-color: $orange-clair;
}