/***********  Les couleurs  *************/
/****************************************/

$orange-tres-fonce: #1f0700;
$orange-fonce: #822205;
$orange: #e82c04;
$orange-clair: #e07357;
$orange-tres-clair: #ffb4a2;
$blanc : #fff;


/***********  typographie  *************/
/****************************************/

@font-face {
  font-family: 'FontTitre';
  src: url('assets/font/cormorant/CormorantUpright-Regular.otf');
}


