@import "../Base/variableGobale";

.contact{
  margin-top: 60px;
}

.formContact{
   margin: 50px 0;
}

.formContact label{
  width: 100%;
}

.formContact input{
   width: 100%;
}

.formContact textarea{
  width: 100%;
}

.formContact input[type="submit"]{
  width: 15%;
}

div.wpcf7-validation-errors, div.wpcf7-mail-sent-ng {
  border-radius: 5px;
}

.mb-btn{
  background-color: gray;
  border: 1px solid #1b1b1b;
}

.mb-input:focus
{
  border-color: #1b1b1b;
  outline: 0;
  box-shadow: 0 0 2px 2px gray;
}

.form-control{

}

