@import "../Base/variableGobale";

.contact{
  background-color: $orange-tres-clair;
}

.formContact{
   margin: 50px 0;
}

.formContact label{
  width: 100%;
}

.formContact input{
   width: 100%;
}

.formContact textarea{
  width: 100%;
}

.formContact input[type="submit"]{
  width: 15%;
}

div.wpcf7-validation-errors {
  border: 2px solid $orange;
  border-radius: 5px;
  background-color: #ff7f7f;
}

.mb-btn{
  background-color: $orange-clair;
  border: 1px solid $orange;
}

.mb-input:focus
{
  border-color: $orange;
  outline: 0;
  box-shadow: 0 0 2px 2px $orange-clair;
}