@import "../Base/variableGobale";
.expo{
  background-color: $orange-tres-clair;
}
.afficheExpo{
  width: 70%;
}
.mb-titreinfoExpo{
  color: $orange;
}
h4{
  margin-bottom: 15px;
}
.mb-infoExpo{
  padding: 20px 0;
}