@import "../Base/variableGobale";

.artiste{
  margin-top: 60px;

}
.infoArtiste{
  position: relative;
 }
.infoArtiste .container{
  margin-bottom: 0;
}
.mb-container-info-artiste{
  position: absolute;
  padding: 20px;
  background-color: #1b1b1b;
  color: $blanc;
  right: 227px;
  bottom: 0;
}

.mb-container-info-artiste:before{
  width: 150px;
  height: 100%;
  background-color: #1b1b1b00;
  position: absolute;
  display: block;
  content: ".";
  color: #fff0;
  top: 0;
  right: -149px;
  border-left: 60px solid #1b1b1b;
  border-top: 60px solid #fff0;
}
